<hr />
<app-input-popup></app-input-popup>
<div style="margin-right:50px;margin-left:50px;margin-top:20px; padding:0px;">

    <div class='button-wrapper pull-right' style="margin-right:1%; margin-top: 3%;">
        <button (click)=newTrader() class='btn btn-primary '> <i class="fa fa-plus"></i> New Trader</button>
    </div>
    <app-filter (filterApplied)="onFilterApplied($event)" (strategyCheck)="onStrategyCheck($event)"
        [stocks]="stocksEvent"></app-filter>

    <div style="margin-top:50px;">
        <trader-table specificType="2MA" *ngIf="TmaChecked" [filterEvent]="filterEvent"
            (stocksChange)="onStocksChange($event)"></trader-table>
        <trader-table specificType="BB" *ngIf="BbChecked" [filterEvent]="filterEvent"
            (stocksChange)="onStocksChange($event)"></trader-table>

    </div>

</div>
<app-popup></app-popup>