<div>
  <t-modal id='inputGroup'>
    <h3>Create a New Trader</h3>
    <form #form="ngForm">
      <div class="row">
        <div class="col">
          <label for="stock">Algorithm</label>
          <select class="custom-select" id="strategy" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
            <option value="2MA">Two moving averages</option>
            <option value="BB">Bollinger bands</option>
          </select>
        </div>
        <div class="col">
          <label for="stock">Stock Name</label>
          <input type="text" class="form-control" id="stock" placeholder="Stock Name" [(ngModel)]="stock"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col">
          <label for="stock">Stock Size</label>
          <input type="text" class="form-control" placeholder="Stock Size" [(ngModel)]="size"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <!-- 2MA -->
      <div class="row" *ngIf='type==="2MA"'>
        <div class="col">
          <label for="short">Short</label>
          <input type="text" class="form-control" type="number" min="15" step="15" id="short" placeholder="30"
            [(ngModel)]="lengthShort" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col">
          <label for="long">Long</label>
          <input type="text" class="form-control" type="number" min="15" step="15" id="long" placeholder="60"
            [(ngModel)]="lengthLong" [ngModelOptions]="{standalone: true}" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col">
          <label for="exit">Exit</label>
          <input type="text" class="form-control" id="exit" placeholder="3" [(ngModel)]="exitThreshold"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <!-- BB -->
      <div class="row" *ngIf='type==="BB"'>
        <div class="col">
          <label for="length">Length</label>
          <input type="text" class="form-control" type="number" min="15" step="15" id="length" placeholder="180"
            [(ngModel)]="length" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col">
          <label for="multiple">Multiple</label>
          <input type="text" class="form-control" type="number" min="15" step="15" id="multiple" placeholder="2"
            [(ngModel)]="multiple" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col">
          <label for="exit">Exit</label>
          <input type="text" class="form-control" id="exit" placeholder="3" [(ngModel)]="exitThreshold"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row"> </div>
      <div class="row">

        <div class="col button-wrapper">
          <button class="btn btn-primary" (click)="closePopupWindow('inputGroup')">Close</button>
        </div>
        <div class="col button-wrapper">
          <button class="btn btn-primary pull-right" (click)="create(); closePopupWindow('inputGroup')">Create</button>
        </div>

      </div>
    </form>
  </t-modal>
  <t-modal id='validation'>
    <div class="modal-body">
      <h5>Invalid Input</h5>
      <hr>
      <button class="btn btn-primary pull-right" (click)="closePopupWindow('validation')">Close</button>
      <p>Stock name: Characters only</p>
      <p>Stock size: Integer only</p>
    </div>


  </t-modal>
</div>