<div style="text-align:center ">
  <div class="button-wrapper">
    <form class="form-inline ">

      <div class="form-group mb-2">
        <label for="selectstock" class="sr-only">Select Stock</label>
        <input type="text" readonly class="form-control-plaintext" id="selectstock" value="Select stock:">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="stock" class="sr-only">Select Stock</label>
        <select class="form-control" id="stock" [(ngModel)]='curStock' (change)="selectStock($event)"
          [ngModelOptions]="{standalone: true}">
          <option *ngFor='let item of stocks' [value]="item">{{item}}</option>
        </select>
      </div>

      <div class="form-group mb-2">
        <label for="selectDuration" class="sr-only">Select Duration</label>
        <input type="text" readonly class="form-control-plaintext" id="selectDuration" value="Select duration:">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="duration" class="sr-only">Select Duration</label>
        <select class="form-control" id="duration" [(ngModel)]='duration' (change)="selectDuration($event)"
          [ngModelOptions]="{standalone: true}">
          <option *ngFor='let item of allDurations' [value]="item">{{item}}</option>
        </select>
      </div>
      <button (click)="createChart()" class="btn btn-dark mb-2" [disabled]="curStock =='select a stock here'">Get Price
        Chart</button>
    </form>
  </div>
  <h3 class="label" *ngIf="curStock !='select a stock here'">Price Chart: {{curStock}}</h3>
  <canvas id="lineChart"></canvas>
</div>