<h3>Table Filters</h3>
<div class="form-check form-check-inline">
    <input  type="checkbox"  id="inlineCheckbox1" (click)="selectStrategy('2MA')" checked>
    <label class="form-check-label" for="inlineCheckbox1">Two Moving Average</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" (click)="selectStrategy('BB')" checked>
    <label class="form-check-label" for="inlineCheckbox2">Bollinger Bands</label>
</div>

<select style="padding-left:10x; margin:10px;" [(ngModel)]="selectedStateFilter" (change)="selectFilter($event, selectedStateFilter, 'state')">
  <option value="anyState" selected>Any Traders</option>
  <option value="active">Active Traders</option>
  <option value="inActive">Inactive Traders</option>
</select>

<select style="padding-left:10x; margin:10px;" [(ngModel)]="selectedStockFilter" (change)="selectFilter($event, selectedStockFilter, 'stock')">
    <option selected value="anyStock">Any Stocks</option>
    <option *ngFor="let stock of stocks" value="{{stock}}">{{stock}}</option>
</select>
  
