<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" style="
text-align:center; 
vertical-align:middle;
" >
  <a class="navbar-brand" href="#"><h3>SRK Trading Platform</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- Home -->
      <li id='home' class="nav-item active" (click)="changeActive('home')" style="margin-left:50px;">
        <a class="nav-link" routerLink='/' routerLinkActive="main">
          <i class="fa fa-home">
            <!-- <span class="badge badge-primary">11</span> -->
          </i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- Analysis -->
      <li id="analysis" class="nav-item" (click)="changeActive('analysis')" style="margin-left:20px;">
        <a class="nav-link" routerLink='/analysis' routerLinkActive="analysis">
          <i class="fa fa-area-chart">
            <!-- <span class="badge badge-primary">11</span> -->
          </i>
          Analysis
        </a>
      </li>

      <!-- Contact us -->
      <!-- <li id="contactUs" class="nav-item" (click)="changeActive('contactUs')">
        <a class="nav-link" routerLink='/contactUs' routerLinkActive="contactUs">
          <i class="fa fa-envelope-o">
          </i>
          Contact Us
        </a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">11</span>
          </i>
          Disabled
        </a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o">
            <span class="badge badge-primary">11</span>
          </i>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link">
          <img src="../assets/citilogo.png" height="80px">
          <!-- <i class="fa fa-bell">
                <span class="badge badge-info">11</span>
              </i> -->
        </a>
      </li>

    </ul>
    <!-- <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bell">
            <span class="badge badge-info">11</span>
          </i>
          Test
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-globe">
            <span class="badge badge-success">11</span>
          </i>
          Test
        </a>
      </li>
    </ul> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>