.t-modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}

.t-modal-body {
  padding: 20px;
 
  background: #fff;
  margin: 40px;
  margin-left:10%;
  margin-right:10%;
  margin-top:2%;
  border: 2px solid black;
}

.t-modal-background {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background-color: #000;
  opacity: 0.25;
}

body.t-modal-open {
  overflow: scroll;
}
