<div class="input-group">
  <select class="custom-select" id="strategy" [(ngModel)]="type">
    <option selected>Choose...</option>
    <option value="2MA">Two moving averages</option>
    <option value="BB">Bollinger bands</option>
  </select>

  <div class="input-group-prepend">
    <div class="input-group-text" id="stock">Stock:</div>
  </div>
  <input type="text" class="form-control" placeholder="Stock Name" aria-describedby="stock" [(ngModel)]="stock">

  <div class="input-group-prepend">
    <div class="input-group-text" id="Size">Size:</div>
  </div>
  <input type="text" class="form-control" placeholder="Stock Size" aria-describedby="size" [(ngModel)]="size">
</div>

<!-- 2MA -->
<div class="input-group mb-3" *ngIf='type==="2MA"'>
  <div class="input-group-prepend">
    <div class="input-group-text" id="short">Short:</div>
  </div>
  <input class="form-control" type="number" min="15" step="15" aria-describedby="short" [(ngModel)]="lengthShort">

  <div class="input-group-prepend">
    <div class="input-group-text" id="long">Long:</div>
  </div>
  <input class="form-control" type="number" min="15" step="15" aria-describedby="short" [(ngModel)]="lengthLong">

  <div class="input-group-prepend">
    <div class="input-group-text" id="exit">Exit:</div>
  </div>
  <input class="form-control" type="number" min="0.25" step="0.25" [(ngModel)]="exitThreshold">
</div>
<!-- BB -->
<div class="input-group mb-3" *ngIf='type==="BB"'>
  <div class="input-group-prepend">
    <div class="input-group-text" id="short">Length:</div>
  </div>
  <input class="form-control" type="number" min="15" step="15" aria-describedby="short" [(ngModel)]="length">

  <div class="input-group-prepend">
    <div class="input-group-text" id="long">Multiple:</div>
  </div>
  <input class="form-control" type="number" min="1" step="0.05" aria-describedby="short" [(ngModel)]="multiple">

  <div class="input-group-prepend">
    <div class="input-group-text" id="exit">Exit:</div>
  </div>
  <input class="form-control" type="number" min="0.25" step="0.25" [(ngModel)]="exitThreshold">
  <div class="input-group-prepend">
    <span class="input-group-text" id="exit">%</span>
  </div>
</div>

  <div class="btn-group">
      <button class="btn btn-outline-primary" (click)="create()">Create</button>
  </div>
