<div >
<h1>{{tableTitle}}</h1>
<table class="table table-hover" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th >Stock</th>
      <th class="right" mat-sort-header = "size">Size</th>
      <th class="right" *ngIf="specificType=='2MA'">Short</th>
      <th class="right" *ngIf="specificType=='2MA'" >Long</th>
      <th class="right" *ngIf="specificType=='BB'">Length</th>
      <th class="right" *ngIf="specificType=='BB'" >Multiple</th>
      <th class="right" >Exit</th>
      <th >State</th>
      <th class="right" mat-sort-header = "trades">Trades</th>
      <th class="right" mat-sort-header = "profit">Profit</th>
      <th class="right" mat-sort-header = "ROI">ROI</th>
    </tr>
  </thead>
  <tbody>
    

    <tr

      *ngFor="let trader of displayedTraders; let i = index"

      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0, 
          'oddInactive' : trader.active == false && i % 2 == 1, 
          'evenInactive' : trader.active == false && i % 2 == 0
        }"
    >
        
    
      <td>{{trader.stock}}</td>
      <td class="right" >{{trader.size}}</td>
      <td *ngIf=trader.lengthShort  class="right" >{{minSec(trader.lengthShort)}}</td>
      <td *ngIf='trader.length!=null'  class="right" >{{minSec(trader.length)}}</td>
      <td *ngIf=trader.lengthLong class="right" >{{minSec(trader.lengthLong)}}</td>
      <td *ngIf='trader.multiple!=null' class="right" >{{(trader.multiple | number: '1.2-5')}}</td>

      <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
      <td>

        <Button
          id="{{trader.ID}}"
          class="btn btn-dark btn-sm"
          [value]="getState(trader)"
          [disabled]="getState(trader) == 'Stopping'"
          (click)="startOrStop($event, false)">
        {{getState(trader)}} <i id="{{'spin'+trader.ID}}"></i>
        </Button>
      </td>
      <td class="right indent" >{{trader.trades }}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf="trader.trades <= 1" class="right" >NA</td> 

      <td *ngIf="trader.trades > 1" class="right" >{{trader.ROI | percent:'1.4-4'}}</td>
      <td *ngIf="trader.trades <= 1" class="right" >NA</td>

      <td><button (click)="passHistory(trader)"  class="btn btn-dark btn-sm"><i class="fa fa-history"></i> History</button></td>
      <td></td>
    </tr>
   </tbody>
   <tfoot>
     <tr>
       <td colspan="6" ></td>
       <td class="right indent" >Total Trades: {{getTotalTrades()}}</td>
       <td class="right" >Total Profit/Loss: {{getTotalProfit() | currency:'USD':'symbol':'1.2-2'}}</td>
     </tr>
   </tfoot>
</table>

</div>