<div>
  <t-modal id='history'>
    <div style="text-align: center"> 
        
        <!-- <i (click)="closePopupWindow('history')" class="fa fa-window-close-o fa-2x" aria-hidden="true" style="top:5%; right:50%"></i> -->
      
      <h3 style="text-align: center;">Trading History</h3>
    </div>
      
    
    <div id="historyTable" class="DivWithScroll DivToScroll" >
      <table class="table table-dark table-striped table-hover">
        <thead class="thead-dark">
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">OPEN</th>
          <th scope="col"></th>
          <th scope="col">CLOSE</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <tr class='bolded'>
            <th>stock</th>
            <th>size</th>
            <th>action</th>
            <th>price</th>
            <th>action</th>
            <!-- <th>stock</th> -->
            <th>price</th>
            <!-- <th>size</th> -->
            <th class="right">Total Profit/Loss:</th>
            <th class="right">Overal ROI:</th>
          </tr>
        </thead>
        <tr *ngFor="let item of positions">
          <!-- <td *ngIf="item.openingTrade.buy">buy</td>
          <td *ngIf="!item.openingTrade.buy">sell</td> -->
          <td>{{item.openingTrade.stock}}</td>
          <td>{{item.openingTrade.size}}</td>
          <td >{{item.openingTrade.buy?'buy':'sell'}}</td>
          <td>{{item.openingTrade.price}}</td>

          <td >{{item.closingTrade==null?'': item.closingTrade.buy? 'buy':'sell'}}</td>
          <!-- <td *ngIf="item.closingTrade && item.closingTrade.buy">buy</td>
          <td *ngIf="item.closingTrade && !item.closingTrade.buy">sell</td> -->
          <!-- <td *ngIf="item.closingTrade">{{item.closingTrade.stock}}</td> -->
          <td *ngIf="item.closingTrade">{{item.closingTrade.price}}</td>
          <!-- <td *ngIf="item.closingTrade">{{item.closingTrade.size}}</td> -->
          <td *ngIf="item.closingTrade">{{item.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
          <td *ngIf="item.closingTrade">{{item.roi | percent:'1.4-4'}}</td>
        </tr>
      </table>
    </div>
    <div class="button-wrapper" style="text-align: center">
        <button (click)="downloadCSV()" class="btn btn-primary" style="">Download History (csv)</button>
        <button (click)="closePopupWindow('history')" class="btn btn-dark pull-right" >Close</button>
        
    </div>
    
    
  </t-modal>

</div>
