.DivToScroll{   
    /* background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px; */
    position: relative;
    /* height: 650px; */
    /* height:70vh; */
    overflow: auto;
}

.DivWithScroll{
    display: block;
}

.button-wrapper .btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

th{
    position:sticky; top:0;
}